<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            <!-- A project by <a target="_blank" href="https://github.com/TomHumphries">Tom Humphries</a>. -->
            Favicon created with favicon.io using Twemoji emojis.
        </span>
    </div>
</footer>